.cursor {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: radial-gradient(circle at center, #fff 0%, #fff 100%);
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
}


.hoverArea {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #0f0f0f;
  font-size: 2rem;
}
