@import url("https://fonts.cdnfonts.com/css/blanquotey");

.textContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
  font-family: "Blanquotey", sans-serif;
}

.textContainer canvas {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 100%;
}
